.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 30px;
  background-color: #38ada9;
  color: white;
  position: sticky;
  top: 0;
}
.header-title {
  font-size: 1.55rem;
  font-weight: 600;
  text-align: center;
}
.header-actions {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-actions * {
  font-size: 1.2rem;
  display: inline-block;
  text-decoration: none;
  margin-left: 10px;
  color: white;
}
.header-links {
  width: 160px;
  text-align: center;
  transition: 0.2s;
  min-height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-links:hover {
  text-decoration: underline;
}

.active-link {
  width: 160px;
  min-height: 40px;
  text-align: center;
  background-color: #ffa502;
  padding: 5px 5px;
  border-radius: 10px;
  transition: 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bookmarks-number {
  background-color: #079992;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 500px) {
  .header-actions {
    flex-direction: column;
  }
}
