.scroll-button {
  position: fixed;
  bottom: 25px;
  right: 22px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  background-color: #ffa502;
  color: white;
  font-weight: 500;
  font-size: 1.2rem;
  border-radius: 50%;
  outline: none;
  border: none;
  transition: 0.2s;
}
.scroll-button:hover {
  background-color: #ffbe76;
  color: black;
}
